.footer {
  background-color: var(--color-beige-200);
  width: 100%;

  &__container {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;

    @include tablet {
      flex-direction: column;
      padding-block: 20px;
      row-gap: 8px;
    }
  }

  &__title {
    display: inline-flex;
    color: var(--color-gray-300);
  }

  &__list {
    display: flex;
    column-gap: 25px;
  }

  &__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  &__social-image {
    width: 26px;
    height: 26px;
  }
  &__link {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    color: var(--color-black);

    @include hover {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }
}