.footer {
  background-color: var(--color-beige-200);
  width: 100%;

  &__container {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;

    @include tablet {
      flex-direction: column;
      padding-block: 20px;
      row-gap: 8px;
    }
  }

  &__title {
    display: inline-flex;
    color: var(--color-gray-300);
  }

  &__list {
    display: flex;
    column-gap: 25px;
  }

  &__item {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  &__social-image {
    width: 26px;
    height: 26px;
  }
  &__link {
    text-decoration: none;
    color: var(--color-black);
  }
}