.header {

  background:
          linear-gradient(to bottom,
                  rgba(0, 0, 0, 0.4) 0%,
                  rgba(0, 0, 0, 0) 50%
          ),
          linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
          url("../images/header.png") center/cover;

  &__inner {
    display: flex;
    flex-direction: column;
    height: 830px;

    @include tablet {
      height: clamp(488px, calc(830 / 767 * 100vw), 830px);
    }
  }

  &__top {
    @include flex-center();
    justify-content: space-between;
    height: 88px;
    position: relative;
    z-index: 100;
    transition: all var(--transition-duration);

    &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      max-width: calc(var(--container-width) + var(--container-padding-x-desktop) * 2);
      margin-inline: auto;
      padding-inline: var(--container-padding-x-desktop);
      z-index: 1000;

      @include tablet {
        max-width: calc(var(--container-width) + var(--container-padding-x-mobile) * 2);
        padding-inline: var(--container-padding-x-mobile);
      }

      &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 88px;
        background-color: rgba(243, 239, 232, 0.6);
        backdrop-filter: blur(54px);
        -webkit-backdrop-filter: blur(54px);
        z-index: -1;
      }

      .header__menu-link,
      .header__phone {
        color: var(--color-black);
      }

      .header__logo-image {
        filter: brightness(0);
      }
    }
  }

  &__logo {

    &-image {
      @include desktop {
        width: clamp(133px, calc(181 / 1024 * 100vw), 181px);
      }
    }
  }

  &__menu {
    display: flex;

    &-list {
      display: flex;
      column-gap: 50px;

      @include desktop {
        column-gap: 30px;
      }
    }

    &-link {
      position: relative;
      display: inline-flex;
      height: 38px;
      align-items: center;
      color: var(--color-white);

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 1px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__phone {
    position: relative;
    display: inline-flex;
    height: 38px;
    align-items: center;
    color: var(--color-white);

    @include hover {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }

  &__hero {
    @include flex-center();
    margin-block: auto;
    flex-direction: column;
    row-gap: 50px;

    @include tablet {
      row-gap: 40px;
    }
  }

  &__title {
    color: var(--color-white);
    text-align: center;
  }

  &__subtitle {
    color: var(--color-white);
    max-width: clamp(310px, calc(562 / 1400 * 100vw), 562px);
    text-align: center;
  }

  &__button {
    @include reset-button;
    padding-inline: 20px;
    padding-block: 5px;

    border-radius: var(--border-radius-button);

    @include hover {
      color: var(--color-white);
      background-color: var(--color-orange-200);
    }

    &:active {
      color: var(--color-dark);
      background-color: var(--color-orange-100);
    }
  }
}