.stories {
  @include flex-center();
  flex-direction: column;


  &__subtitle {
    color: var(--color-gray-300);
    text-align: center;
    margin-top: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  &__item {
    overflow: hidden;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    min-height: 567px;
    width: 100%;
    max-width: 1170px;
    background-size: cover;
    background-position: center;

    @include tablet {
      max-height: 455px;
      min-height: 455px;
    }

    @include hover {
      .stories__image {
        transform: scale(1.2);
      }
      .stories__link {
        background-color: var(--color-green-400);

        &:active {
          background-color: var(--color-orange-200);
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 60px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.06) 48%,
            rgba(0, 0, 0, 0.5) 100%);

    @include tablet {
      padding: 30px;
    }
  }

  &__image {
    transition: transform var(--transition-duration) ease;
    object-fit: cover;
  }

  &__title-card {
    color: var(--color-white);
  }

  &__description {
    color: var(--color-white);
    max-width: 554px;
    width: 100%;
    margin-top: 37px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @include tablet {
      margin-top: 20px;
    }
  }

  &__details {
    margin-top: 20px;
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-white);
  }

  &__details-item {
    color: inherit;
  }

  &__link {
    display: inline-flex;
    position: relative;
    margin-top: auto;
    align-self: flex-start;
    color: var(--color-white);
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    left: -20px;
    border-radius: var(--border-radius-base);
    cursor: pointer;
    text-decoration: none;

    &::after {
      content: "";
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      background: url("/images/Vector.png") no-repeat center / contain;
    }
  }

  &__social {
    position: absolute;
    bottom: 60px;
    right: 60px;
    z-index: 2;
  }

  &__social-list {
    display: flex;
    gap: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__social-item {
    margin: 0;
  }

  &__social-link {
    position: relative;
    color: var(--color-white);
    text-decoration: none;
    display: inline-flex;

    @include hover {
      &::after {
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50%;
      width: 0;
      height: 1px;
      background-color: currentColor;
      transition-duration: inherit;
    }
  }
}