.tour {
  @include flex-center;
  flex-direction: column;


  &__subtitle {
    color: var(--color-gray-300);
  }

  &__menu {
    margin-top: 35px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
    }

    &-link {
      position: relative;
      height: 34px;
      align-items: center;
      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 1px;
        background-color: currentColor;
        transition-duration: inherit;
      }

      &:active {
        color: var(--color-orange-200);
      }
    }
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;

    @include desktop {
      column-gap: 16px;
      row-gap: 16px;
    }

    @include mobile {
      margin-top: 50px;
    }

    &-item {
      max-width: 318px;
      max-height: 531px;
      border-radius: var(--border-radius-base);
      position: relative;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      display: flex;

      @include desktop {
        max-width: clamp(318px,
        calc(318px + (450 - 318) * ((100vw - 320px) / (1024 - 320))),
        450px);
        max-height: clamp(318px,
        calc(318px + (531 - 318) * ((100vw - 320px) / (1024 - 320))),
        531px);
      }

      @include mobile {
        max-width: 318px;
        max-height: 318px;
      }

      @include hover {
        .tour__card-image {
          transform: scale(1.2);
        }
        .tour__card-link {
          background-color: var(--color-green-400);

          &:active {
            background-color: var(--color-orange-200);
          }
        }
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      position: absolute;
      padding: 50px;

      width: 100%;
      height: 100%;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
      z-index: 1;
    }

    &-image {
      transition: transform var(--transition-duration) ease;
      object-fit: cover;
    }

    &-title {
      color: var(--color-white);
    }

    &-price {
      color: var(--color-white);
      margin-top: 16px;
    }

    &-link {
      display: inline-flex;
      position: relative;
      margin-top: auto;
      align-self: flex-start;
      color: var(--color-white);
      align-items: center;
      gap: 20px;
      padding: 10px 20px;
      left: -20px;
      border-radius: var(--border-radius-base);

      &::after {
        content: "";
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background: url("/images/Vector.png") no-repeat center / contain;
      }
    }
  }
}