@mixin fluid-text($max: 96, $min: 16) {
  font-size: clamp(#{$min}px, #{$max / 1024 * 100}vw, #{$max}px);
}

@mixin flex-center($isInline: false){
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin reset-button {
  padding: 0;
  border: none;
}