.container {
    max-width: calc(var(--container-width) + var(--container-padding-x-desktop) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x-desktop);

  @include tablet {
    max-width: calc(var(--container-width) + var(--container-padding-x-mobile) * 2);
    padding-inline: var(--container-padding-x-mobile);
  }

  @include mobile {
    max-width: calc(var(--container-width) + var(--container-padding-x-mobile) * 2);
    padding-inline: var(--container-padding-x-mobile);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.hidden-desktop {
  @include desktop {
    display: none !important;
  }
}

.hidden-tablet {
  @include tablet {
    display: none !important;
  }
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}